<div class="d-flex justify-content-center">
  <div class="">
    <h1>Super Movie Lists</h1>
    <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
    <div class="d-flex lists col-sm-6 m-5">
    <% @lists.each do |list| %>
    <div class="m-2 p-2">
      <% if list.photo.attached? %>
  <%= cl_image_tag list.photo.key %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
    <p><%= link_to list.name, list_path(list), class: "btn btn-primary"%></p>
    </div>
    <% end %>
    </div>
  </div>
</div>
