<div class="d-flex justify-content-center">
  <div class="">
    <h1>Super Movie Lists</h1>
    <div class="d-flex lists col-sm-6 m-5">
    <% @lists.each do |list| %>
    <div class="m-2 p-2">
    <p><%= link_to list.name, list_path(list), class: "btn btn-primary"%></p>
    </div>
    <% end %>
    </div>
  </div>
</div>
