<h1>SHOW PAGE FOR LIST <%= @list.id %> WOO</h1>
<%= link_to "Add movies bro!", new_list_bookmark_path(@list), class: "btn btn-primary"%>
<% @list.each do |bookmark| %>
  <p><%= bookmark  %></p>
<% end %>
